<!--index.ejs Cole Ramsey 301333287 10-05-2023-->
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to my <%= title %> page</h1>

    </div>

    <div class="pgbody">
      <div class="homepg">
        <!-- Welcome Message -->
        <h2>Welcome to My Personal Portfolio!</h2>
        <p>This is the online hub where I showcase my projects, services, and more about myself!</p>

        <!-- Mission Statement -->
        <h3>Mission Statement</h3>
        <p>Welcome to Cole's Corner! I'm Cole, a driven Software Engineering Technology student at Centennial College.
         My mission here is to constantly enhance my skills and knowledge in the dynamic tech industry. This website
          serves as my inaugural personal portfolio, documenting my journey in coding and development. Through my projects
          and experiences, I aim to exemplify my unwavering dedication to excellence and innovation within the realm of 
          software engineering. Join me on this exciting odyssey as I endeavor to craft meaningful solutions and contribute
         to the ever-evolving world of technology.</p>
      

        <!-- Links or buttons to other pages -->
        <a href="/about" class="btn btn-primary">Learn More About Me!</a>
      </div>
    </div>
  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




